{% container Page %}

<div id="header-container">
	<header class="wrapper">
		<h1 id="title">{{ webPage.title }}</h1>
		{% slot head %}
	</header>
</div>
<div id="main" class="wrapper">
	{% slot content %}
</div>
<div id="footer-container">
	<footer class="wrapper">
		{% slot footer %}
	</footer>
</div>