##### ECLIPSE PROJECT FILES #####
/.buildpath
/.project
/.settings

##### COMPOSER STUFF #####
/composer.phar
/composer.lock
/vendor

##### NON-COMPOSER LIBS #####
/src/ExtAdmin

##### JS LIBS #####

*.bak
/tmp
/public/repository