##### ECLIPSE PROJECT FILES #####
/.buildpath
/.project
/.settings

##### COMPOSER STUFF #####
/composer.phar
/composer.lock
/vendor

##### NON-COMPOSER LIBS #####
/src/ExtAdmin
/src/Inspirio

##### JS LIBS #####
/public/js/lib/extAdmin
/public/js/lib/inspirio

*.bak
/tmp
/trash
