{% container Page %}

<div id="body">
	<div id="head">{% slot head %}</div>
	<div id="content">{% slot content %}</div>
	<div id="menu">{% slot menu %}</div>
	<div id="foot">{% slot foot %}</div>
</div>