@charset "UTF-8";

html,
body {
	margin  : 0;
	padding : 0;	
}

.x-templates-list {  }
.x-templates-list > .x-item { display : inline-block; margin: 10px; padding: 5px; text-align: center; }
.x-templates-list > .x-item > .name { padding: 3px; }

.i-application-form { background-image: url('../images/icons/application_form.png'); }
.i-application-form-add { background-image: url('../images/icons/application_form_add.png'); }
.i-application-form-edit { background-image: url('../images/icons/application_form_edit.png'); }
.i-application-go { background-image: url('../images/icons/application_go.png'); }
.i-application-osx-terminal { background-image: url('../images/icons/application_osx_terminal.png'); }
.i-arrow-out { background-image: url('../images/icons/arrow_out.png'); }
.i-arrow-refresh { background-image: url('../images/icons/arrow_refresh.png'); }
.i-arrow-rotate-anticlockwise { background-image: url('../images/icons/arrow_rotate_anticlockwise.png'); }
.i-cancel { background-image: url('../images/icons/cancel.png'); }
.i-chart-bar-error { background-image: url('../images/icons/chart_bar_error.png'); }
.i-clock-go { background-image: url('../images/icons/clock_go.png'); }
.i-coins { background-image: url('../images/icons/coins.png'); }
.i-database-gear { background-image: url('../images/icons/database_gear.png'); }
.i-delete { background-image: url('../images/icons/delete.png'); }
.i-delete-email { background-image: url('../images/icons/delete_email.png'); }
.i-disk { background-image: url('../images/icons/disk.png'); }
.i-email { background-image: url('../images/icons/email.png'); }
.i-email-add { background-image: url('../images/icons/email_add.png'); }
.i-email-delete { background-image: url('../images/icons/email_delete.png'); }
.i-email-edit { background-image: url('../images/icons/email_edit.png'); }
.i-email-go { background-image: url('../images/icons/email_go.png'); }
.i-error { background-image: url('../images/icons/error.png'); }
.i-error-go { background-image: url('../images/icons/error_go.png'); }
.i-folder { background-image: url('../images/icons/folder.png'); }
.i-folder-explore { background-image: url('../images/icons/folder_explore.png'); }
.i-help { background-image: url('../images/icons/help.png'); }
.i-lorry-add { background-image: url('../images/icons/lorry_add.png'); }
.i-lorry-go { background-image: url('../images/icons/lorry_go.png'); }
.i-money { background-image: url('../images/icons/money.png'); }
.i-money-go { background-image: url('../images/icons/money_go.png'); }
.i-money-magnify { background-image: url('../images/icons/money_magnify.png'); }
.i-monitor { background-image: url('../images/icons/monitor.png'); }
.i-package-go { background-image: url('../images/icons/package_go.png'); }
.i-page-white-acrobat { background-image: url('../images/icons/page_white_acrobat.png'); }
.i-page-white-excel { background-image: url('../images/icons/page_white_excel.png'); }
.i-server-from { background-image: url('../images/icons/server_from.png'); }
.i-server-to { background-image: url('../images/icons/server_to.png'); }
.i-table-add { background-image: url('../images/icons/table_add.png'); }
.i-table-edit { background-image: url('../images/icons/table_edit.png'); }
.i-time-go { background-image: url('../images/icons/time_go.png'); }

.x-blocks-list {
	
}

.x-blocks-list .x-dataview {

}

.x-blocks-list .x-dataview-item {
	margin  : 5px auto;
	padding : 3px;
	width   : 90px;
	height  : 50px;
	
	text-align    : center;
	border-radius : 3px;
}

.x-blocks-list .x-dataview-item:hover,
.x-blocks-list .x-view-selected {
	background-color : #dfe8f6;
	border           : 1px solid #abf;
}


/************* CANVAS *************/
.x-template-canvas {
	padding     : 0px;
	font-family : Calibri, Verdana, Arial, sans-serif;
	font-size   : 15px;
}

/************* BLOCK *************/
.x-template-canvas .x-block {
	margin  : 7px;
	padding : 0px;
	
	color         : #aaa;
	border        : 2px solid #aaa;
	border-radius : 7px;
}

.x-template-canvas .x-block.x-over {
	color            : #000;
	border           : 2px solid #000;
	background-color : #fdfdfd;
}

.x-template-canvas .x-block-variable {
	color            : #000;
	background-color : #CAE871;
	border           : 1px solid #5F7913;
	border-radius    : 5px;
	
	display : inline-block;
	margin  : 1px 3px;
	padding : 0px 2px;
}

/************* BLOCK TITLE *************/
.x-template-canvas .x-block > .x-title {
	font-weight      : bold;
	background-color : #FDFFFF;
	padding          : 0px 10px;
	border-radius    : 5px;
	
	cursor : pointer;
}

.x-template-canvas .x-block.x-over > .x-title {
	background-color : #F0F2FE;
}

/************* BLOCK TITLE TOOLS *************/
.x-template-canvas .x-block > .x-title > .x-tools {
	float   : right;
	display : none;
}

.x-template-canvas .x-block.x-over > .x-title > .x-tools {
	display : block;
}

.x-template-canvas .x-block > .x-title > .x-tools > .x-tool {
	width      : 16px;
	height     : 16px;
	margin     : 2px 3px;
	float      : left;
	cursor     : pointer;
	background : transparent no-repeat center center;
}

.x-template-canvas .x-block > .x-title > .x-tools > .x-tool.x-config {
	background-image: url('../images/icons/cog.png');
}

.x-template-canvas .x-block > .x-title > .x-tools > .x-tool.x-remove {
	background-image: url('../images/icons/delete.png');
}

/************* SLOT *************/
.x-template-canvas > .x-slot {
	margin : auto;
	width  : 95%;
	height : 95%;
}

.x-template-canvas .x-slot {
	clear         : both;
	border        : 1px solid #bbb;
	border-radius : 7px;
	margin        : 10px 5px;
	padding       : 0px;
	
	background-color : #fff;
	
	position   : relative;
	min-height : 16px;
}

.x-template-canvas .x-block.x-over > .x-slot {
	border : 1px solid #666;
}

/************* SLOT TITLE *************/
.x-template-canvas .x-block .x-slot > .x-title {
    position   : absolute;
    width      : 100%;
    height     : 100%;
    border-radius : 7px;
    text-align : center;
    
    z-index    : -1;
    opacity    : 0;
    
   	background-color : #fafafa;
   	color            : #888;
   	text-shadow      : #ccc 1px 1px 1px;
   	font-weight      : bold;
}

.x-template-canvas .x-block.x-over > .x-slot > .x-title {
	z-index : 2;
	opacity : .85;
	color   : #000;
}

.x-template-canvas .x-block.x-over > .x-slot:hover > .x-title {
	z-index : -1;	
}

	
.x-template-canvas .x-slot.x-over {
	border-style: solid;
}

.x-template-canvas .x-insert-pointer {
	width  : 95%;
	height : 0px;
	margin : 7px auto;
	border : 1px solid #000;
}

