@charset "UTF-8";

html,
body {
	margin  : 0;
	padding : 0;	
}

.x-templates-list {  }
.x-templates-list > .x-item { display : inline-block; margin: 10px; padding: 5px; text-align: center; }
.x-templates-list > .x-item > .name { padding: 3px; }

.i-add { background-image: url('../images/icons/add.png'); }
.i-application-form { background-image: url('../images/icons/application_form.png'); }
.i-application-form-add { background-image: url('../images/icons/application_form_add.png'); }
.i-application-form-delete { background-image: url('../images/icons/application_form_delete.png'); }
.i-application-form-edit { background-image: url('../images/icons/application_form_edit.png'); }
.i-application-go { background-image: url('../images/icons/application_go.png'); }
.i-application-osx-terminal { background-image: url('../images/icons/application_osx_terminal.png'); }
.i-arrow-out { background-image: url('../images/icons/arrow_out.png'); }
.i-arrow-redo { background-image: url('../images/icons/arrow_redo.png'); }
.i-arrow-refresh { background-image: url('../images/icons/arrow_refresh.png'); }
.i-arrow-rotate-anticlockwise { background-image: url('../images/icons/arrow_rotate_anticlockwise.png'); }
.i-arrow-undo { background-image: url('../images/icons/arrow_undo.png'); }
.i-cancel { background-image: url('../images/icons/cancel.png'); }
.i-chart-bar-error { background-image: url('../images/icons/chart_bar_error.png'); }
.i-clock-go { background-image: url('../images/icons/clock_go.png'); }
.i-coins { background-image: url('../images/icons/coins.png'); }
.i-database-gear { background-image: url('../images/icons/database_gear.png'); }
.i-delete { background-image: url('../images/icons/delete.png'); }
.i-delete-email { background-image: url('../images/icons/delete_email.png'); }
.i-disk { background-image: url('../images/icons/disk.png'); }
.i-email { background-image: url('../images/icons/email.png'); }
.i-email-add { background-image: url('../images/icons/email_add.png'); }
.i-email-delete { background-image: url('../images/icons/email_delete.png'); }
.i-email-edit { background-image: url('../images/icons/email_edit.png'); }
.i-email-go { background-image: url('../images/icons/email_go.png'); }
.i-error { background-image: url('../images/icons/error.png'); }
.i-error-go { background-image: url('../images/icons/error_go.png'); }
.i-eye { background-image: url('../images/icons/eye.png'); }
.i-eye-gray { background-image: url('../images/icons/eye_gray.png'); }
.i-folder { background-image: url('../images/icons/folder.png'); }
.i-folder-explore { background-image: url('../images/icons/folder_explore.png'); }
.i-help { background-image: url('../images/icons/help.png'); }
.i-image-add { background-image: url('../images/icons/image_add.png'); }
.i-lorry-add { background-image: url('../images/icons/lorry_add.png'); }
.i-lorry-go { background-image: url('../images/icons/lorry_go.png'); }
.i-money { background-image: url('../images/icons/money.png'); }
.i-money-go { background-image: url('../images/icons/money_go.png'); }
.i-money-magnify { background-image: url('../images/icons/money_magnify.png'); }
.i-monitor { background-image: url('../images/icons/monitor.png'); }
.i-ok { background-image: url('../images/icons/ok_green.png'); }
.i-package-go { background-image: url('../images/icons/package_go.png'); }
.i-page-white-acrobat { background-image: url('../images/icons/page_white_acrobat.png'); }
.i-page-white-copy { background-image: url('../images/icons/page_white_copy.png'); }
.i-page-white-excel { background-image: url('../images/icons/page_white_excel.png'); }
.i-page-white-go { background-image: url('../images/icons/page_white_go.png'); }
.i-server-from { background-image: url('../images/icons/server_from.png'); }
.i-server-to { background-image: url('../images/icons/server_to.png'); }
.i-table-add { background-image: url('../images/icons/table_add.png'); }
.i-table-edit { background-image: url('../images/icons/table_edit.png'); }
.i-time-go { background-image: url('../images/icons/time_go.png'); }

.module .i-web-editor { background-image: url('../images/module/web_editor.png'); }
.module .i-template-manager { background-image: url('../images/module/template_manager.png'); }
.module .i-text-block-manager { background-image: url('../images/module/text_block_manager.png'); }

.x-blocks-list .x-icon.i-titlePage { background-image: url('../images/block/titlePage.png'); }
.x-blocks-list .x-icon.i-page { background-image: url('../images/block/page.png'); }
.x-blocks-list .x-icon.i-image { background-image: url('../images/block/image.png'); }
.x-blocks-list .x-icon.i-imageGallery { background-image: url('../images/block/image.png'); }
.x-blocks-list .x-icon.i-pageDetail { background-image: url('../images/block/pageDetail.png'); }
.x-blocks-list .x-icon.i-discussion { background-image: url('../images/block/discussion.png'); }
.x-blocks-list .x-icon.i-pageList { background-image: url('../images/block/pageList.png'); }
.x-blocks-list .x-icon.i-likeButtons { background-image: url('../images/block/likeButtons.png'); }
.x-blocks-list .x-icon.i-menu { background-image: url('../images/block/discussion.png'); }
.x-blocks-list .x-icon.i-breadcrumbs { background-image: url('../images/block/breadcrumbs.png'); }
.x-blocks-list .x-icon.i-textBlock { background-image: url('../images/block/pageDetail.png'); }
.x-blocks-list .x-icon.i-contactForm { background-image: url('../images/block/contactForm.png'); }

.x-blocks-list {
	
}

.x-blocks-list .x-template-block {
	margin  : 5px auto 15px auto;
	padding : 10px;
	width   : 100px;
	
	text-align    : center;
	border        : 1px solid transparent;
	border-radius : 3px;
}

.x-blocks-list .x-template-block:hover,
.x-blocks-list .x-view-selected {
	background-color : #dfe8f6;
	border           : 1px solid #abf;
}

.x-blocks-list .x-icon {
	background-repeat   : no-repeat;
	background-position : top center;
	background-image    : url('../images/block/generic.png');
	width      : 48px;
	height     : 48px;
	display    : block;
	margin     : 0px auto;
}



.x-tree-icon.simplePage,
.i-simple-page {
	background-image: url('../images/icons/layout_content.png');
}

.x-tree-icon.menuItem,
.i-menu-item {
	background-image: url('../images/icons/text_list_bullets.png');
}



/************* HTML EDITOR *************/
.x-edit-insertimage { background-image: url('../images/icons/image_add.png'); }

/************* CANVAS *************/
html, body {
	width   : 100%;
	height  : 100%;
}

.x-template-canvas .x-title {
	font-family : Calibri, Verdana, Arial, sans-serif;
	font-size   : 15px;
}

/************* BLOCK *************/
.x-template-canvas .x-block {
    margin  : 7px;
    padding : 0px;
	
    border        : 2px solid #aaa;
    border-radius : 7px;
    background-color : #F0FFD1;
}

.x-template-canvas .x-block.x-block-category-layouts {
	background-color : #DCBE89;
}

.x-template-canvas .x-root > .x-empty-root-overlay {
    display    : none;
    text-align : center;
    width      : 450px;
    margin     : 75px auto;
}

.x-template-canvas .x-root > .x-empty-root-overlay > p {
    font-size  : 125%;
    margin-top : 20px;
}

.x-template-canvas .x-root.x-empty > .x-empty-root-overlay {
    display : block;
}



.x-template-canvas .x-block.x-over {
    border-color : #f00;
}

.x-template-canvas .x-block.x-drag {
    background-color : #666;
    opacity          : 1;
}

.x-template-canvas .x-block-variable {
    color            : #000;
    background-color : #CAE871;
    border           : 1px solid #5F7913;
    border-radius    : 5px;
    
    display : inline-block;
    margin  : 1px 3px;
    padding : 0px 2px;
}

.x-template-canvas .x-block > * {
    visibility : hidden;
}

.x-template-canvas .x-block > .x-title,
.x-template-canvas .x-block .x-slot {
    visibility : visible;
}

/************* BLOCK TITLE *************/
.x-template-canvas .x-block > .x-title {
    font-weight      : bold;
    background-color : #FDFFFF;
    padding          : 0px 10px;
    border-radius    : 5px;
    cursor           : pointer;
}

.x-template-canvas .x-block > .x-title > span {
    float : left;
}

.x-template-canvas .x-block > .x-title:after {
    content    : '.';
    display    : block;
    height     : 0;
    clear      : both;
    visibility : hidden;
}

.x-template-canvas .x-block.x-root > .x-title {
    display : none;
}

.x-template-canvas .x-block.x-drag > .x-title {
    background-color : #999;
    color            : #000;
}


/************* BLOCK TITLE TOOLS *************/
.x-template-canvas .x-block > .x-title > .x-tools {
    float : right;
}

.x-template-canvas .x-block > .x-title > .x-tools > .x-tool {
    width      : 16px;
    height     : 16px;
    margin     : 2px 3px;
    float      : left;
    cursor     : pointer;
    background : transparent no-repeat center center;
}

.x-template-canvas .x-block > .x-title > .x-tools > .x-tool.x-config {
    background-image: url('../images/icons/cog.png');
}

.x-template-canvas .x-block > .x-title > .x-tools > .x-tool.x-remove {
    background-image: url('../images/icons/delete.png');
}

/************* SLOT *************/
.x-template-canvas .x-slot {
	border        : 1px solid #bbb;
	border-radius : 7px;
	margin        : 10px 5px;
	padding       : 0px;
	
	background-color : #fff;
	
	position   : relative;
	
}

.x-template-canvas .x-slot.x-empty {
	min-height : 64px;
	min-width  : 32px;
}


/************* SLOT TITLE *************/
.x-template-canvas .x-block .x-slot > .x-title {
    position   : absolute;
    width      : 100%;
    height     : 100%;
    border-radius : 7px;
    text-align : center;

    z-index : -1;
    opacity : .85;
    
    background-color : #fafafa;
    color            : #000;
    text-shadow      : #ccc 1px 1px 1px;
    font-weight      : bold;
}

.x-template-canvas .x-block.x-over .x-slot > .x-title,
.x-template-canvas .x-slot.x-empty > .x-title {
    z-index : 2;
}

.x-template-canvas .x-block.x-over .x-slot:hover > .x-title,
.x-template-canvas .x-block.x-over .x-slot .x-block .x-slot > .x-title {
    z-index : -1;	
}

.x-template-canvas .x-slot.x-over {
    border-style: solid;
    border-color : #0f0;
}

.x-template-canvas .x-insert-pointer {
    width  : 95%;
    height : 0px;
    margin : 7px auto;
    border : 1px solid #f00;
}

/******************************* DISCUSSION *******************************/
.x-discussion-posts {
    clear : both;
}

.x-discussion-posts .x-dataview-item {
    border-top : 1px solid #bbb;
    padding : 5px 10px;
    margin : 5px 0px;
}

.x-discussion-posts .x-dataview-item:first-child {
    border-top : none;
}

.x-discussion-posts .x-dataview-item .x-authorName {
    float: left;
}

.x-discussion-posts .x-dataview-item .x-date {
    float: right;
}

.x-discussion-posts .x-dataview-item .x-controls {
    float: right;
}

.x-discussion-posts .x-dataview-item .x-controls .x-tool {
    width  : 16px;
    height : 16px;
    margin : 0px 3px;
    cursor : pointer;
}

.x-discussion-posts .x-dataview-item .x-controls .x-tool.x-remove {
	background-image: url('../images/icons/delete.png');
}

.x-discussion-posts .x-dataview-item .x-content {
    clear      : both;
    margin-top : 20px;
}

/******************************* IMAGE LIST *******************************/
.x-web-page-images .x-dataview-item {
    display    : block;
    float      : left;
    width      : 180px;
    height     : 180px;
    margin     : 5px;
    padding    : 5px;
    text-align : center;
    overflow   : hidden;
    
    background-color : #f8f8ff;
	border           : 1px solid #abf;
	
	position : relative;
}

.x-web-page-images .x-dataview-item:hover,
.x-web-page-images .x-dataview-item.x-item-selected {
    background-color : #dfe8f6;
}

.x-web-page-images .x-dataview-item .x-controls {
    position : absolute;
    top      : 0px;
    right    : 0px;
}

.x-web-page-images .x-dataview-item .x-controls .x-tool {
    float  : left;
    width  : 16px;
    height : 16px;
    margin : 2px;
}

.x-web-page-images .x-dataview-item .x-controls .x-tool.x-edit {
    background-image: url('../images/icons/edit.png');
}

.x-web-page-images .x-dataview-item .x-controls .x-tool.x-remove {
    background-image: url('../images/icons/delete.png');
}

.x-web-page-images .x-dataview-item:hover .x-controls {

}