{% container PageList %}
<div class="page-list">
{% for page in pages %}
	<div class="title">
		<div class="left">
			{% slot titleLeft with { 'page' : page } %}
		</div>
		<div class="right">
			{% slot titleRight with { 'page' : page }  %}
		</div>
	</div>
	<div class="content">
		<div class="left">
			{% slot contentLeft with { 'page' : page }  %}
		</div>
		{% slot content %}
		<div class="right">
			{% slot contentRight with { 'page' : page }  %}
		</div>
	</div>
{% endfor %}
</div>