{% container Page %}
<div class="container">
	<header>
		{% slot header %}
	</header>

	<div class="container-fluid">
		{% slot content %}
	</div>

	<hr>
	<footer>
		{% slot footer %}
	</footer>
</div>