{% container PageDetail %}
<h3>{{ page.title }}</h3>
<div class="content">{{ page.contentItem.content|raw }}</div>

<link href="public/js/colorbox/colorbox.css" rel="stylesheet">
<script type="text/javascript" src="public/js/colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript">
	$('.content > a.pageContentImage').colorbox({
		rel : 'colorbox_{{ webPage.ID }}'
	});
</script>