{% container PageList %}
<div class="pageList">
{% for page in pages %}
	<div class="pageOverview clearAfter">
		<div class="createdOn">Vytvořeno: {{ page.createdOn|date }}</div>
		<div class="title">
			<a href="{{ BASE_HREF ~ page.urlName }}">{{ page.title }}</a>
		</div>
		<div class="content">
			{{ page.contentItem.perex|raw }}
		</div>
	</div>
{% endfor %}
</div>